.main{
    text-align: center;
}

.start .main .display h1{
    background-color:rgb(203, 228, 228);
    color: rgb(4, 0, 0);
    border-radius: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 15px;

}
.loader{
    text-align: center;
}
#load, .res{
    display: none;
    
}
.options{
    border-radius: 100px;
    padding: 15px;
    width: 250px;
    font-family: 'Quicksand', 'Times New Roman', Times, serif;
    transition: 0.3s
}

#load{
    height: 200px;
}
.options:hover{
    transform: scale(1.05);
}

#submit{
    color:rgb(0, 0, 0) ;
    font-weight: 900;
    font-family: 'Poppins', Courier, monospace;
    transition: 0.2s;
    width: 280px;
}

#submit:hover{
    background-color: rgb(244, 234, 233);
    transform: scale(1.05);
}

#loading, .results{
    display: none;
}

span{
    background-color: rgb(206, 245, 252);
    color: black;
    border-radius: 5px;
    padding: 5px;
}

.results h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}